/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
_ide_helper.php
.phpstorm.meta.php
server.php
# Visual Studio 2015 cache/options directory
.vs/
.phpstorm.meta.php
Selfy backend.phpproj
Selfy backend.sln
_ide_helper.php