.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.navbar-footer{
    background-color: #EEEEEE;
    color: #333;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.navbar-brand>img {
    padding: 7px 14px;
}

.navbar.navbar-transparent {
    background-color: transparent;
}

.navbar.navbar-transparent .nav li a{
    color: #989898;
    font-weight:lighter;
}

.container-landing{
    background-color: #EEEEEE;
}

section {
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden!important;
    color: white;
}

section .header-content {
    padding: 20px 0 50px;
    position: relative;
}

section.section-1 .header-content{
    padding: 150px 0 50px;
}

@media (max-width: 980px) {
    section.section-1 .header-content {
        padding: 0 0 50px;
        position: relative;
    }
}

section .header-content .header-content-inner {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

section .header-content .header-content-inner h1, section .header-content .header-content-inner h3 {
    font-family: 'Quicksand', sans-serif;
}

section .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight:bold;
    color:#49638F;
}

section .header-content .header-content-inner h3 {
    color: #989898;
    margin-bottom: 15px;
    line-height: 30px;
}

section .header-content .header-content-inner a:last-child{
    margin-left: 5px;
}

section .device-container {
    max-width: 500px;
    margin: 0 auto 50px;
}

section.section-1 .header-content .header-content-inner h1{
    font-size: 60px;
}

section.section-2 {
    background-color: #e0e0e0;
    padding-top: 80px;
}
section.section-2  .header-content .header-content-inner h1 {
    color: #607d8b;
}
section.section-2  .header-content .header-content-inner h3 {
    color: #666666;
}

#continue2{
    margin-top: 50px;
}

section.section-3 {
    padding-top: 0!important;
    background: url(../images/collage_s.png) no-repeat left center #49638F;
    background-size: contain;
}

section.section-3 .header-content .header-content-inner h1,
section.section-3 .header-content .header-content-inner h3,
section.section-5 .header-content .header-content-inner h1,
section.section-5 .header-content .header-content-inner h3
{
    color: #FFFFFF;
}

section.section-4 .header-content .header-content-inner h1
{
    color: #e91e63;
}

section.section-3 .header-content {
    padding: 180px 0 50px;
    position: relative;
}

section.section-4 {
    padding-top: 80px;
}

section.section-5 {
    padding-top: 80px;
    background: #EEEEEE url(../images/back_spot.jpg) no-repeat center center;
    background-size: cover;
}

section.section-6 {
    padding-top: 80px;
    background: #FFF url(../images/spot_s.png) no-repeat  10% 100px;
    background-size: contain;
}

@media (max-width: 980px) {
    section.section-3 .header-content .header-content-inner h1,
    section.section-3 .header-content .header-content-inner h3
    {
       background: #FFFFFF;
        color: #49638F;
        padding: 15px;
    }

}

@media (max-width: 780px) {
    section.section-4 {
        padding-top: 20px;
    }

    section.section-1 .device-container,
    section.section-4 .device-container
    {
        max-width:100%;
    }

    section.section-1 .device-container img
    {
        max-width: 350px;
        margin: 0 auto;
    }

    section.section-4 .device-container
    {
        margin: 0 auto;
    }

    section.section-4 .device-container img{
        max-width: 200px;
        margin: 0 auto;
    }

    section.section-1 .header-content .header-content-inner,
    section.section-2 .header-content .header-content-inner,
    section.section-3 .header-content .header-content-inner,
    section.section-4 .header-content .header-content-inner{
        text-align: center;
    }
    section.section-1 .header-content .header-content-inner h1,
    section.section-2 .header-content .header-content-inner h1,
    section.section-3 .header-content .header-content-inner h1,
    section.section-4 .header-content .header-content-inner h1{
        font-size: 30px;
        margin-top: 10px;
    }

    section.section-1 .header-content .header-content-inner h3,
    section.section-2 .header-content .header-content-inner h3,
    section.section-3 .header-content .header-content-inner h3,
    section.section-4 .header-content .header-content-inner h3{
        font-size: 20px;
        margin-top: 5px;
    }

    .navbar-transparent{
        background-color: #607d8b!important;
    }

    .navbar.navbar-transparent .nav li a{
        color: #FFF;
    }

    section.section-2 .device-container,
    section.section-3 .device-container{
        max-width: 200px;
    }

    section.section-3 {
        background-size: cover;
    }

}