// Brands
@import 'node_modules/bootstrap-material-design/sass/_colors';

$brand-primary: $blue-grey-500 !default;
$brand-success: $light-blue-500 !default;
$brand-danger: $red !default;
$brand-warning: $deep-orange !default;
$brand-info: $pink-500 !default;
$body-bg: #EEEEEE !default;

$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$headings-font-weight: 300 !default;

$body-bg: #EEEEEE !default;
